# ===================================================================
# Gitignore rules for Keil/MDK embedded projects
# ===================================================================

# 1. 编译输出文件夹
Out_File/

# 2. Keil/MDK 项目用户配置文件
*.uvopt
*.uvgui
*.uvmpw


# 3. 编译器和链接器生成的中间文件
*.obj
*.o
*.d
*.crf
*.__i

# 4. 链接器和构建过程的输出文件
*.axf
*.lnp
*.map
*.plg
*.rpt
*.tra

# 5. 列表文件和报告文件
*.lst
*.htm

# 6. 备份文件和临时文件
*.bak
*.tmp

# 7. JLink等调试器日志文件
JLinkLog.txt

# 8. 其他各种构建过程中的产物
*.ddk
*.edk
*.mpf
*.mpj
*.omf
*.dep
*.iex
